- content_for :title, "Rails Server Template"
- content_for :sidebar, toc([toc_item(toc_link({ href: "#welcome" }, "Welcome")), toc_item(toc_link({ href: "#getting-started" }, "Getting started"))])

= stack({ gap: 4 }) do
  = prose do
    = h1({ id: "welcome" }, "Welcome!")
    = p("This is the welcome page for the Rails Server Template.")
  = prose do
    = h2({ id: "getting-started" }, "Getting started")
    = p do
      = "Edit "
      = inline_code("app/views/welcome/index.html.haml")
      = " to change this page. Add routes in "
      = inline_code("config/routes.rb")
      = " and controllers in "
      = inline_code("app/controllers/")
      = "."
  = cluster({ gap: 2 }) do
    = button({ variant: "primary", href: "https://www.druewilding.com/klods/", target: "_blank" }, "klods docs")
    = button({ href: "/api/v1/status" }, "API status")
